include *.py
include *.md
recursive-include alphavantage_api_client *.txt *.py *.md
recursive-exclude alphavantage_api_client/alphavantage_api_client.egg-info *.*
prune .git
prune */.git
prune */*/.git
prune */*/*/.git